.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 12px;
    font-family: "Raleway", sans-serif, 'Times New Roman', Times, serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121121;
    overflow-x: hidden;
    height: 100vh;
  }
  
  a{
    text-decoration: none;
  }
  .hero, .contact_form {
    transition: background-color 0.5s ease-in-out;
}

  
 

/* NAV BAR STYLING */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #121212;
  font-size: 1.5rem;
  z-index: 10;
 
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
}
.logoText2 {
  display: none;
}
nav a {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
 
}
nav a:hover {
 background-color: whitesmoke;
 color: black;
}

a.logoText {
margin-right: auto;
font-size: 2.5rem;
}

nav svg{
  fill: white;
}
#sidebar-active{
  display: none;
}
.open-sidebar , .close-sidebar {
  display: none;
}

/*navbar 2 styling*/


nav svg{
  fill: white;
}
/*responsive navbar & media querys*/
@media (max-width:1297px) {
  div.text_hero h3 {
    display: none;
  }

}

@media (max-width:1139px) {
  div.text_hero h1 {
    font-size: 8rem;
  }

}

@media (max-width:963px) {

}

@media (max-width:740px) {
  .links-container{

    background-color: #121212;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 100;
    width: 250px;
    box-shadow: -.5rem 0 .5rem rgba(0,0,0,0.25)
   }
   nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 1rem 1.5rem;
    justify-content: flex-start;
   }
   nav {
    height: 7rem;
   }
   .open-sidebar {
    padding: 2rem;
    display: block;
  }
  .close-sidebar{
    padding: 2rem;
    display: block;
  }
  .logoText2 {
    display: flex;
    font-family: "Raleway";
    font-size: 4rem;
  }
  #sidebar-active:checked ~ .links-container {
    display: flex;
  }
  #sidebar-active:not(:checked) ~ .links-container {
    display: none;
  }
  div.text_hero h3 {
    display: none;
  }
  footer a {
   display: none;
  }
  footer p {
    text-align: center;
  }
  .form_header {
    align-items: center;
    justify-content: center;
  }
}
/*HERO*/
div.hero, div.about_me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: whitesmoke;
}
div.text_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #121121;
  text-align: center;
  height: 100vh; 
}
div.text_hero button {
  color: white;
    background-color: #121212; 
    padding: 1rem; 
    font: inherit;
    cursor:pointer ; 
    border: 0;
    border-radius: 20px;
    box-shadow: 1.5rem 1.5rem 1.5rem rgba(138, 138, 138, 0.905)
  
}
div.text_hero h3 {
  color: black;
  font-size: small;
  
}

div.background_img p {
  color: black;
  font-size: small;
  
}
div.hero button:hover {
  transform: scale(1.03);
  background-color: red;
  transition: transform 0.25s ease-in;
}

/*about me container*/
div.about_me {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

div.about_me img {
  max-width: 50%;
  max-height: 50%;
  margin: 1rem;
  border-radius: 1rem;

}
div.about_me h1 {
  padding: 2rem;
  font-size: 3rem;
  background-color: #121121;
  color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 1.5rem 1.5rem 1.5rem rgba(138, 138, 138, 0.905)
  
}

ul.skill-levels {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  font-size: 3rem;
  list-style: none;
  background-color: #121121;
  color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 1.5rem 1.5rem 1.5rem rgba(138, 138, 138, 0.905)
  
}
ul.skill-levels li {
  margin: 1rem;
  letter-spacing: .25rem;
}

div.about_me2 {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  max-height: 60%;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #121121;
  color: whitesmoke;
  border-radius: 1rem;
  box-shadow: 1.5rem 1.5rem 1.5rem rgba(138, 138, 138, 0.905)
}
div.about_me2 image{
  padding: auto;

}

div.about_me2 h2 {
  font-size: 3rem;
  padding: 1rem;
}
div.about_me2 p {
  font-size: 1.5rem;
  padding: 1rem;
  max-width:40%;
}


div.container_me{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 200;
  color: #121121;
  text-align: center;
  height: 100vh; 
}
/*CONTACT FORM*/

h1.form_header {
  display: flex;
  color: whitesmoke;
  font-size: 3rem;
  align-items: start;
  margin-right: 8rem;
}

form input:focus {
  outline: 2px solid #FFF;
}

form.contact_form {
  background-color: whitesmoke;
  padding: 4rem;
  margin: auto;
  max-height: 400px;
  max-width: 240px;
  border-radius: 20px;
  box-shadow: 1.5rem 1.5rem 1.5rem rgba(138, 138, 138, 0.905)
}
form label {
  display: inline-flex;
  flex-direction: column;
  font-size: large;
  letter-spacing: 1.25px;
  height: auto;
}
form input {
  background-color: #121121;
  height: auto;
  color: whitesmoke;
  margin: 2rem;
}

.inputfield {
  width: 70%;
  height: 2rem;
}

  
/* footer */
div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #121212;
  width: 100%;
  margin-top: 1rem;
  display: inline-flex;
}

footer {
  bottom: 0;
  left: 0;
  background-color: #121212;
  width: 100%;
  margin-top: 1rem;
  display: flex;
}

footer a:hover{
  text-decoration: underline;
}

footer a {
  max-width: 75%;
  max-height: 3rem;
  margin-right: 4rem;
  padding: 2rem;
  color: whitesmoke;
  text-decoration: none;
 
}

div.footer p {
  color: whitesmoke;
  margin: 1rem;
  bottom: 0;
  align-self: center;
  justify-content: center;
  display: inline;
}
