.raleway> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


body {
  font-family: raleway;
  font-size: 16px;
  background-color: lightslategray;
  display: flex;
  justify-content: center;
}