.raleway> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 14px;
    font-family: raleway, sans-serif, 'Times New Roman', Times, serif;
  }

/* Default rules */
body {
  font-family: raleway;
  display: flex;
  flex-direction: column;
  padding: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("Media/pexels-gdtography-277628-911738.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* NAV BAR STYLING */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #121212;
  z-index: 100;
 
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
 
}
nav a:hover {
 background-color: white;
 color: black;
}

a.logoText {
margin-right: auto;
font-size: 2rem;
}

nav svg{
  fill: white;
}
#sidebar-active {
  display: none;
}
.open-sidebar {
  display: none;
}
.close-sidebar{
  display: none;
}
@media (max-width:600px) {
  .links-container{
    background-color: #121212;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 350px;
    box-shadow: -.5rem 0 .5rem rgba(0,0,0,0.25)
   }
   nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 1rem 1.5rem;
    justify-content: flex-start;
   }
   .open-sidebar {
    padding: 2rem;
    display: block;
  }
  .close-sidebar{
    padding: 2rem;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    display: flex;
  }
}
  

/* BODY CONTENT */
div.space1 {
  align-content: center;
  color: whitesmoke;
  padding: 12rem;
  margin: 6rem 6rem;
  width: 100vh;
 height: fit-content;
  background-color: #121212;
  border-radius: .75rem;
  box-shadow: 10px 10px 5px 2px rgba(41, 41, 43, 0.5);
}

div.space1 h1 {
  padding-top: 4rem;
  text-align: center;
}

div.space1 h2 {
  padding-top: 2rem;
  text-align: center;
}
.action_button_hero{
  padding-top: 2rem;
  text-align: center;
  text-transform: none;
  font-size: 4rem;
}

/* footer */

footer {
  position: static;
  bottom: 0;
  left: 0;
  background-color: #121212;
  width: 100%;
  margin-top: auto;
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;

}

footer a {
  display: inline;
  width: 100%;
  max-height: 2rem;
  margin-right: 4rem;
  padding: 2rem;
  color: white;
  text-decoration: none;
 
}